<h1 id="multiplication_id"> <%= @multiplication.id %> </h1>
<h3 id="max_multiplicand"> <%= @multiplication.max_multiplicand %> </h3>
<h3 id="max_multiplier"> <%= @multiplication.max_multiplier %> </h3>
<h3 id="result">  </h3>
<h3 id="sum"> <%= @multiplication.sum %> </h3>